[submodule "vendor"]
	path = vendor
	url = https://github.com/h3r2tic/SPIRV-Reflect.git
	branch = nsubtil/NV_ray_tracing
[submodule "spirv"]
	path = spirv
	url = https://github.com/gfx-rs/rspirv.git
